-e . # install apiplate

amqp # Needed for celery
billiard # Needed for celery
celery # Needed for celery(duh)
certifi # Provide Mozilla's CA Bundle.
chardet # Universal Character Encoding Detector.
click # Wrapper around optparse for powerful command line utilities.
clickclick # click Utility functions.
# closure # Google Closure Compiler(JAR) https://developers.google.com/closure/compiler/.
connexion # OpenAPI/Swagger API using Flask.
Flask # A microframework based on Werkzeug, Jinja2 and good intentions.
Flask-SQLAlchemy # Adds SQLAlchemy support to your Flask application.
idna # Internationalized Domain Names in Applications (IDNA).
inflection # String transformation library.
itsdangerous # Various helpers to pass trusted data to untrusted environments and back.
Jinja2 # Small stand-alone template engine.
jsonschema # JSON Schema validation http://json-schema.org/.
kombu # Needed for celery
MarkupSafe # Implements a XML/HTML/XHTML Markup safe strings.
pathlib # Object-oriented filesystem paths (UNMAINTAINED, upgrade to pathlib2).
# pyquibase # Liquibase Database Refactoring (JAR) http://www.liquibase.org/.
pytz # Needed for celery
PyYAML # YAML parser and emitter.
rcssmin # CSS Minifier.
requests # HTTP for Humans.
six # Python 2 and 3 compatibility utilities.
SQLAlchemy # SQL Database Abstraction Library.
swagger-spec-validator # Validation of OpenAPI/Swagger 2.0 specifications.
typing # Type Hints.
urllib3 # HTTP library with thread-safe connection pooling, file post, etc.
vine # Needed for celery
Werkzeug # Swiss Army knife for web development.

# pika==0.11.2 

# ansible==2.4.2.0
# asn1crypto==0.23.0
# bcrypt==3.1.4
# cffi==1.11.2
# cryptography==2.1.4
# paramiko==2.4.0
# pyasn1==0.4.2
# pycparser==2.18
# PyNaCl==1.2.0